@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="jumbotron text-center" style="background:black;
            opacity:.75;">
        <div class="row">
            <i class="fa fa-warning col-sm-2 text-danger" style="font-size:200%;"></i>
            <h4 class="text-danger col-sm-8">WARNING: THE FOUNDATION DATABASE IS</h4>
            <i class="fa fa-warning col-sm-2 text-danger" style="font-size:200%;"></i>
        </div>
        <h1 class="text-danger">CLASSIFED</h1>
        <h4 class="text-danger">
            ACCESS BY UNAUTHORIZED PERSONNEL IS STRICTLY PROHIBITED
            PERPETRATORS WILL BE TRACKED, LOCATED, AND DETAINED
        </h4>
        <p></p>
    </div>

</div>

