@model TermProjectX.Models.ObjectClass

@{
    ViewData["Title"] = "Details";
}
<div class="card-deck justify-content-center">
    @*CARD*@
    <div class="card" style="max-width: 58rem;">

        @*CARD HEADER*@
        <div class="card-header bg-info text-center">
            @Html.DisplayNameFor(model => model) @Html.DisplayFor(model => model.Name)
        </div>
        @*CARD BODY*@
        <div class="card-body bg-dark">

            @*CARD TITLE*@
            <h6 class="card-subtitle">@Html.DisplayFor(model => model.Description)</h6>

            @*BUTTONS*@
            <br />
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.ObjectClassId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>

        </div>
    </div>
</div>
