body {
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 60px;
    background-image: url("/Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.overide-main {
    background-color:none;
    border:none;
    padding:0px;
}


.text-blue {
    color: #7289da;
}

h1, h2, h3, h4, p, label, span, body, li{
    color: #ffffff;
}



span.navbar-toggler-icon {
    
    background:#99aab5;
    
}