@model TermProjectX.Models.ThreatLevel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">@Html.DisplayNameFor(model => model): Delete</h1>


<br />
<br />
<div class="card-deck justify-content-center">
    @*CARD*@
    <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">

        @*Card Header*@
        <div class="card-header">
            <div class="row align-items-center">
                <i class="fa fa-warning col-sm-2 text-white"></i>
                <h4 class="text-white col-sm-8 text-center">WARNING</h4>
                <i class="fa fa-warning col-sm-2 text-white"></i>
            </div>
        </div>

        @*CARD BODY*@
        <div class="card-body bg-dark">

            @*CARD TITLE*@
            <h5 class="card-title">Are you sure you want to delete: @Html.DisplayFor(model => model.Name)?</h5>

            @*CARD BUTTONS*@
            <br />
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ThreatLevelId" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-success">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
